#bookingWrapper{
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}

.formColumn{
    content: "";
    display: flex;
    flex-direction: column;
    clear: both;
    width: 400px;
    border-width: 1px;
    border-color: #000000;
}

.formRow{
    content: "";
    display: flex;
    flex-direction: column;
    clear: both;
    width: 400px;
    border-width: 1px;
    border-color: #000000;
    margin-bottom: 5px;
}

form button{
    margin-top: 15px;
}

.validator{
    color: #ff5050;
}