#bookingSection{
    margin: 100px 0;
    height: 388px;
    background-color: #495E57;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    float: none;
    justify-content: center;
}

#bookingSectionHeader{
    margin: 0 25px;
}