.testimonials {
    height: 500px;
    background-color: #495E57;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonialsHeading{
    width: 840px;
}

#testimonialsHeading h2{
    font-family: Karla;
    margin: 75px 0;
}

#testimonialContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 840px;
}